.sidedraw-footer-container {
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  padding-block: 0px;
  width: 100%;
  overflow: hidden;
}

.sidedraw-footer-container .MuiPagination-root {
  max-width: 100%; 
  
}

.sidedraw-footer-container .MuiPagination-ul {
  flex-wrap: nowrap; 
  gap: 6px;
}

.sidedraw-footer-skeleton-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.MuiPaginationItem-root:focus {
  outline: none !important;
  /* box-shadow: 0 0 0 0px #1976d2; */
}