.list-item-icon-column {
  flex: 0 0 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  position: relative;
}

.list-item-icon-badge {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-icon {
  width: 56px;
  height: 56px;
  object-fit: contain;
  display: block;
}