.bubble-avatar-root {
  --bubble-avatar-home-size: 80px;  /* 64 */
  --bubble-avatar-eye-height: 17px;
  --bubble-avatar-eye-width: 11px;
  --bubble-avatar-eye-gap: 17px;

  --bubble-avatar-home-position-right: 50%;
  --bubble-avatar-home-position-margin-right: calc(var(--bubble-avatar-home-size) / -2);
  --bubble-avatar-bottom-offset: var(--app-layout-margin);
  
  --bubble-avatar-drop-ring-size: 120px;
  --bubble-avatar-edge-scale: 0.85;

  --bubble-avatar-pin-scale: 0.625; /* .625 */

  --bubble-avatar-shadow:
    /* 0 2px 32px rgba(0, 0, 0, 0.5),
    0 2px 8px  rgba(18, 14, 14, 0.25); */
    0 15px 25px -4px rgba(0, 0, 0, 0.5), 
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 
    /* -2px -2px 45px 0px rgba(255, 255, 255, 0.6),  */
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), 
    inset 0 0 5px 1px rgba(255, 255, 255, 0.8), 
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  --bubble-avatar-edege-shadow:
    0 3px 12px rgba(0, 0, 0, 0.16),
    0 1px 4px  rgba(0, 0, 0, 0.08);
    
  --bubble-avatar-pin-shadow:
    /* 0 2px 16px rgba(0, 0, 0, 0.28),
    0 2px 8px  rgba(0, 0, 0, 0.16); */
    0 15px 25px -4px rgba(0, 0, 0, 0.5), 
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), 
    inset 0 0 5px 1px rgba(255, 255, 255, 0.8), 
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);

  --bubble-avatar-eye-color: #2a2a2a;
  --bubble-avatar-ring-color: #ba160c;
  --bubble-avatar-bg-color: #eaeaea;
  --bubble-avatar-bg-blur: blur(0px);
}

@media (max-width: 959px) {
  .bubble-avatar-root  {
    --bubble-avatar-home-position-right: var(--bubble-avatar-bottom-offset);
    --bubble-avatar-home-position-margin-right: 0;
  }
}