/* .page0 {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	background-color: #f2f2f2;
}

.page0__content {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: #8a8a8a;
}

.page0__icon {
	color: #8a8a8a;
}

.page0__text {
	margin: 0;
	color: #8a8a8a;
	font-size: 20px;
	font-weight: 500;
} */
