.list-refresh-wrap {
  position: sticky;
  top: 18px; /* 24px */
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
  margin-bottom: -40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
  transform: translateY(-4px);
}

.list-refresh-wrap-visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.list-refresh-wrap-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-4px);
}

.list-refresh-button,
.list-refresh-button.MuiFab-root {
  border: none !important;
  background-color: var(--app-primary-black) !important;
  color: #fff !important;
  transition: opacity 180ms ease-in-out, background-color 180ms ease-in-out, box-shadow 180ms ease-in-out !important;
}

.list-refresh-button:hover,
.list-refresh-button.MuiFab-root:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12) !important;
}

/* .list-refresh-button.Mui-disabled,
.list-refresh-button.MuiFab-root.Mui-disabled {
  opacity: 1 !important;
  cursor: default;
} */