.cuisine-filter-reset-button.MuiIconButton-root {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .cuisine-filter-reset-button .MuiSvgIcon-root {
  font-size: 18px;
} */
