.drawer-header-slot {
  block-size: var(--drawer-header-height);
  overflow: clip;
  transition: block-size 200ms ease 200ms;
}
.drawer-header-slot.is-hidden {
  block-size: 0;
}
.drawer-header {
  block-size: var(--drawer-header-height);
  transform: translateY(0);
  opacity: 1;

  user-select: none;
  touch-action: none;
  transition: 
    transform 180ms ease,
    opacity 180ms ease;
  will-change: transform, opacity;
}

.drawer-header.is-open {
  margin-inline: 8px;
  margin-block-start: 8px;
}
.drawer-header-slot.is-hidden .drawer-header {
  transform: translateY(-8px);
  opacity: 0;
  pointer-events: none;
}