.drawer-header {
  flex: 0 0 auto;
  user-select: none;
  height: var(--drawer-header-height);
  background: transparent;
  overflow: hidden;
  margin: 0;
  transition: 
    margin 400ms ease 200ms, 
    height 400ms ease 200ms;
}
.drawer-header.is-open {
  margin: 8px 8px 0;
}
.drawer-header.is-hidden {
  margin: 0;
  height: 0;
}