.drawer-header {
  flex: 0 0 auto;
  user-select: none;
  /* min-height: var(--drawer-header-height); */
  background: transparent;

  padding: 0;
  transition: padding 400ms ease;
}
.drawer-header.is-open {
  padding: 8px 8px 0;
}