.place-body {
	/* background:red; */
    /* keep body height stable during initial load */
	flex: 1 1 auto;
	margin-inline: 30px;
	padding-left: 0px;
	min-width: 0;
	overflow: visible;
	overscroll-behavior: contain;

	width: auto;
	box-sizing: border-box;
}

.place-body-rows {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 0px 16px;
}