.price-filter-panel__slider-wrap {
    position: relative;
    left: 2px;
    align-self: center;
    height: 56px;
    
    --tumb-size: 20px;
    --overun: calc((var(--tumb-size) / 2) + 6px);
    --slider-color: var(--app-primary-black);

    margin: 0px;
    margin-top: -23px;
    padding: 0px;
    width: 72%;
    padding-inline: var(--overun);
    box-sizing: border-box;
    overflow: visible;
    z-index: 5;
}

.price-filter-panel__slider-wrap .MuiSlider-markLabel {
    /* color: var(--app-text-caption-color); */
    color: var(--app-primary-black);
}

.price-filter-panel__slider-wrap .MuiSlider-thumb {
    width: var(--tumb-size);
    height: var(--tumb-size);
    background-color: var(--app-paper-color);
    border: 4px solid var(--slider-color);
    z-index: 10;
}

.price-filter-panel__slider-wrap .MuiSlider-thumb.Mui-focusVisible,
.price-filter-panel__slider-wrap .MuiSlider-thumb.Mui-active {
    box-shadow: 0 0 0 14px color-mix(in srgb, var(--slider-color) 20%, transparent);
}

.price-filter-panel__slider-wrap .MuiSlider-rail {
    background-color: var(--app-secondary-grey);
    opacity: 0;
}
.price-filter-panel__slider-wrap .MuiSlider-track {
    background-color: var(--slider-color);
    border: 1px solid var(--slider-color);
    height: 1px;
    opacity: 1;
}

.price-filter-panel__slider-wrap .MuiSlider-mark,
.price-filter-panel__slider-wrap .MuiSlider-markActive {
    background-color: var(--app-secondary-grey);
}

