.title-label {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  color: var(--app-text-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}