.geo-searchbar-clear-button {
  margin-right: 0px !important;
  color: var(--app-text-caption-color) !important;
}

.geo-searchbar-clear-button:hover {
  background-color: var(--app-divider-color) !important;
}
