.cuisine-filter-panel {
    width: 100%;
    position: relative;
    padding: 0px var(--app-layout-margin) 24px;

}

.cuisine-filter-content {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    align-items: center;
    gap: 8px;
}

.title-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    color: var(--app-primary-black);
    line-height: 1.0;
}

.title-block .left {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.title-block .right {  
}