.animated-loading-dots {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.animated-loading-dots .dot {
  display: inline-block;
  border-radius: 50%;
  background-color: currentColor;
}
