.drawer-geo-search {
  --drawer-geo-search-size: 36px;
  --drawer-geo-search-active-size: 36px;
  --drawer-geo-search-icon-color: var(--app-toolbar-icon-color);

  position: relative;
  z-index: 12;
  padding: 6px 0 0;
  flex: 0 0 auto;
  width: 100%;
  height: var(--drawer-geo-search-size);
  box-sizing: border-box;
  transition: height 140ms ease;
}

.drawer-geo-search:focus-within {
  height: var(--drawer-geo-search-active-size);
}

.drawer-geo-search-shell {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--drawer-geo-search-size);
  padding: 0 4px;
  box-sizing: border-box;
  overflow: hidden;

  background: var(--app-paper-color-brighter);
  /*border: 1px solid var(--app-faint-outline-color) */
  border-radius: calc(var(--drawer-geo-search-size) / 2);
  color: var(--drawer-geo-search-icon-color);
  transition: all 400ms ease;
}

.drawer-geo-search-shell:focus-within {
  height: var(--drawer-geo-search-active-size);
  border-radius: calc(var(--drawer-geo-search-active-size) / 2);
  background: #fff;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12); */
}
.drawer-geo-search-shell:focus-within .drawer-geo-search-lead {
  width: var(--drawer-geo-search-active-size);
}

.drawer-geo-search-lead svg {
  width: 24px;
  height: 24px;
  opacity: 0.45;
  transition: all 400ms ease;
}
.drawer-geo-search-shell:focus-within .drawer-geo-search-lead svg {
  width: 30px;
  height: 30px;
  opacity: 1;
}

.drawer-geo-search-lead {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--drawer-geo-search-size);
  color: var(--drawer-geo-search-icon-color);
}

.drawer-geo-search-input {
  flex: 1 1 auto;
  width: 0;
  min-width: 0;
  border: 0;
  outline: none;
  background: transparent;
  color: var(--app-text-color);
  font-size: 15px;
  line-height: 1;
  opacity: 0.5;
  transition: all 400ms ease;
}
.drawer-geo-search-shell:focus-within .drawer-geo-search-input {
  opacity: 1.0;
}

.drawer-geo-search-clear {
  flex: 0 0 auto;
  color: var(--drawer-geo-search-icon-color) !important;
  opacity: 0.5;
}
.drawer-geo-search-shell:focus-within .drawer-geo-search-clear {
  opacity: 1.0;
}

.drawer-geo-search-input::placeholder {
  color: var(--app-text-caption-color);
}
