.selected-price-range-label {
  color: var(--app-text-color);
  text-align: left;

  display: flex;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--app-text-color);
}