.place-detail-content {
  min-width: 0;
  margin-right: -30px;
}

.place-detail-title {
  display: block;
  font-size: 16px !important;
  /* line-height: 1.2 !important; */
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.place-detail-subtitle {
  display: block;
  margin-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}