.rating-panel-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 0px;
  margin-bottom: 200px;
}

.rating-panel-divider {
  width: calc(100% - (2 * var(--app-layout-gap)));
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 4px;
}