* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-layout-gap: 20px;
  --app-layout-margin: 20px;
  --app-floating-card-bg: rgba(255, 255, 255, 0.5);
  --app-floating-card-backdrop-filter: blur(10px);
  --app-faint-outline-color: rgba(0, 0, 0, 0.15);
}