.base-ui-container {
  /* ADD FLOATING GAP */
  position: absolute;
  top: 0;
  right: var(--inset-is-closed);
  bottom: var(--inset-is-closed);
  left: var(--inset-is-closed);
  overflow: hidden;
  pointer-events: none;
  border-radius: 0 0 var(--border-radius-is-closed) var(--border-radius-is-closed);
  transition: right var(--delayed-transition), left var(--delayed-transition), 
    bottom var(--default-transition), border-radius var(--delayed-transition);
  will-change: border-radius;
  z-index: 20;

  border-bottom: var(--drawer-outline);
}
.base-ui-container.is-open {
  right: var(--inset-is-open);
  left: var(--inset-is-open);
  bottom: calc(var(--inset-is-open) + var(--bottom-overscan) * -1);
  border-radius: 0 0 var(--border-radius-is-open) var(--border-radius-is-open);
}
.base-ui-container.is-full-height {
  right: 0;
  left: 0;
  bottom: calc(var(--inset-is-open) + var(--bottom-overscan) * -1);
  border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
}