.base-ui-container {
  /* ADD FLOATING GAP */
  position: absolute;
  inset: 0 var(--inset-is-closed) var(--inset-is-closed);
  overflow: hidden;
  pointer-events: none;
  border-radius: 0 0 var(--border-radius-is-closed) var(--border-radius-is-closed);
  transition: inset var(--delayed-transition), border-radius var(--delayed-transition);
  will-change: inset, border-radius;
  z-index: 20;

  border-bottom: var(--drawer-outline);
}
.base-ui-container.is-open {
  inset: 0 var(--inset-is-open) var(--inset-is-open);
  border-radius: 0 0 var(--border-radius-is-open) var(--border-radius-is-open);
}
.base-ui-container.is-full-height {
  inset: 0;
  border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
}