.base-ui-handle {
  position: relative;
  flex: 0 0 var(--drawer-header-height);
  width: 100% !important;
  margin: 0 !important;
  height: var(--drawer-header-height) !important;
  background: transparent !important;
  z-index: 9;
}
.base-ui-handle::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  width: 40px;
  height: 4px;
  transform: translateX(-50%);
  border-radius: 999px;
  background: var(--app-handle-color);
  pointer-events: none;
  z-index: 10;
}
/* .base-ui-handle {
  width: 40px;
  height: 4px;
  margin: 8px auto;
  border-radius: 2px;
  background: var(--app-handle-color);
  z-index: 9;
} */