/* VISUAL SHELL - LAYOUT BOX */
.base-ui-drawer-body {
  /* ISOLATE FROM MAP PAINT */
  contain: layout paint;
  isolation: isolate;
  overflow: hidden;

  display: flex;
  flex: 1 1 auto; /* to accommodate a FLOATING GAP; Was flex: 0; */
  min-height: 0; /* to accommodate a FLOATING GAP */
  flex-direction: column;

  background: var(--drawer-bg);
  box-shadow: var(--drawer-shadow);
  pointer-events: auto;
  border-top: var(--drawer-outline);

  border-radius: var(--border-radius-is-closed) var(--border-radius-is-closed) 0 0;
  transition: 
    background var(--delayed-transition),
    border-radius var(--delayed-transition);

  /* ENSURE SNAP-HEIGHT WORKS CORRECTLY */
  /* This adds adds paint surface and slow frame-rate */
  /* height: 100%; */
}
.base-ui-drawer-body.is-open {
  border-radius: 
    var(--border-radius-default) var(--border-radius-default) 
    var(--border-radius-is-open) var(--border-radius-is-open);
}
.base-ui-drawer-body.is-full-height {
  border-radius: var(--border-radius-default);
}