.place-detail-titleblock {
  /* background: red; */
  --text-transition: font-size 200ms ease 200ms;

  min-width: 0;
  margin-top: 0; /* 8px */
  margin-right: 80px;
  transition: 
    margin-right 200ms ease,
    var(--text-transition);

  min-height: calc(var(--drawer-home-height) - 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .place-detail-titleblock.is-extended {
  margin-right: 0px;
} */

.place-detail-title {
  display: block;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: var(--text-transition);
}
.place-detail-title.is-extended {
  display: -webkit-box;

  text-wrap: balance;
  white-space: normal;
  overflow-wrap: anywhere;
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2; */
}

.place-detail-subtitle {
  display: -webkit-box;
  padding-top: 4px;
  margin-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* white-space: nowrap; */

  transition: var(--text-transition);
}
.place-detail-subtitle.is-extended {
  font-size: 14px !important;
  margin-right: 14px;
  white-space: normal;
  overflow-wrap: anywhere;
}